footer
{
    padding: var(--half-gap);
    width: var(--max-size);
    background-color: var(--secondary-color);
    border-top: var(--border-style);
    font-size: 1.4rem;
    font-weight: var(--medium-font);
    color: var(--text-color);
}

.footer-container
{
    width: var(--max-size);
    max-width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}


.author-link
{
    display: flex;
    align-items: center;
}

.tmdb-link
{
    display: flex;
    width: 15rem;
}

.author-link a,
.tmdb-link
{
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.tmdb-link img
{
    width: var(--max-size);
    height: auto;
}



@media (min-width: 68.75em)
{
    .footer-container
    {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
}

@media (min-width: 81.25em)
{
    .footer-container
    {
        max-width: 140rem;
    }
}
