.loading-spinner-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--max-size);
    height: 100vh;
    padding: 2rem 0;
}

.loading-spinner-icon
{
    filter: drop-shadow(0 0 0.4rem rgba(200, 200, 200, 0.3));
    animation: spin-animation linear infinite;
    color: #C8C8C8;
    font-size: var(--text-font);
    font-weight: var(--medium-font);
}

@keyframes spin-animation
{
    from
    {
        transform: rotate(0deg);
    }

    to
    {
        transform: rotate(360deg);
    }
}
