.trailer-dialog
{
    width: 80vw;
    max-width: 80rem;
    height: 60vh;
    max-height: 45rem;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    border: none;
    border-radius: 0.8rem;
    padding: 0;
    background: black;
    overflow: hidden;
}

.trailer-dialog::backdrop
{
    background-color: rgba(0, 0, 0, 0.9);
}

.iframe-wrapper
{
    width: 100%;
    height: 100%;
}

.close-button
{
    position: absolute;
    top: 8px;
    right: 12px;
    background: transparent;
    color: white;
    border: none;
    font-size: var(--text-font);
    color: var(--text-color);
    cursor: pointer;
}
