.overview-section
{
    padding-top: 8rem;
}

.details-container
{
    width: var(--max-size);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--half-gap);
}

.poster-container
{
    position: relative;
    width: var(--max-size);
    max-width: 30rem;
    border: var(--border-style);
    border-radius: 0.5rem;
    aspect-ratio: 500/750;
    overflow: hidden;
}

.poster-container p
{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--text-color);
    width: var(--max-size);
    text-align: center;
    padding: 0.5rem 0;
}

.details
{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.details p
{
    text-align: center;
    max-width: 19ch;
}

.sinopse-container
{
    width: var(--max-size);
    margin-top: 6rem;
}

.sinopse-container p
{
    hyphens: auto;
    letter-spacing: 0.1rem;
    word-spacing: 0.1rem;
    max-width: 40ch;
    margin: -2rem auto 0 auto;
    
}

.link-section a
{
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1.6rem;
    font-weight: var(--medium-font);
}

.link-section a:hover,
.link-section a:focus
{
    transform: var(--transform-hover);
    border: var(--border-style-hover);
}

.link-section a:focus
{
    outline: var(--border-style-hover);
    outline-offset: 0;
}

.link-section a:active
{
    transform: var(--transform-active);
}



@media (min-width: 35.5em)
{
    .sinopse-container p
    {
        max-width: none;
    }
}

@media (min-width: 48em)
{
    
    .details-container
    {
        float: left;
        width: auto;
        margin-right: var(--main-gap);
        margin-top: -6rem;
        display: block;
    }

    .poster-container
    {
        margin-bottom: 1rem;
    }

    .details
    {
        margin-top: 1rem;
    }


    .casting-section,
    .providers-section,
    .link-section
    {
        clear: both;
        width: var(--max-size);
    }
}
