.movies-section,
.results-section
{
    padding-top: 8rem;
}

.card-container
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
    column-gap: 2rem;
}

.load-more-button
{
    font-size: 1.4rem;
    font-weight: var(--bolder-font);
    padding: 0.5rem;
    margin-top: 2rem;
    width: max-content;
    border: var(--border-style);
    border-radius: 0.5rem;
    background-color: var(--secondary-color);
    color: var(--text-color);
}

@media (min-width: 35.5em)
{
    .card-container
    {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 64em)
{
    .card-container
    {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (min-width: 81.25em)
{
    .card-container
    {
        grid-template-columns: repeat(8, 1fr);
    }
}
