.link-container
{
    display: flex;
    flex-direction: column;
}

.card
{
    border: var(--border-style);
    border-radius: 0.5rem;
    transition: var(--transitions);
    aspect-ratio: 500/750;
    overflow: hidden;
}

.provider-card
{
    aspect-ratio: 1/1;
}

.card:hover,
.card:focus
{
    transform: var(--transform-hover);
    border: var(--border-style-hover);
}

.card:focus
{
    outline: var(--border-style-hover);
    outline-offset: 0;
}

.card:active
{
    transform: var(--transform-active);
}


.item-info
{
    font-size: 1.2rem;
    font-weight: var(--bolder-font);
    margin: 0.2rem;
    text-align: center;
}


.item-info.info-align
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item-info.info-align span
{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
