header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--half-gap);
    position: fixed;
    top: 0;
    left: 0;
    width: var(--max-size);
    margin: 0 auto;
    height: 8rem;
    background-color: var(--secondary-color);
    border-bottom: var(--border-style);
    z-index: 100;
}

.header-container
{
    width: var(--max-size);
    max-width: 90vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}


.app-logo
{
    font-size: var(--first-level-heading-font);
    font-weight: var(--bolder-font);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.2rem 0.5rem;
    border: none;
    border-radius: 0.8rem;
}

.app-logo svg
{
    font-size: 3rem;
}

.hamburger
{
    padding: 0.3rem 0.6rem;
    font-size: 1.4rem;
    font-weight: var(--bolder-font);
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: var(--border-style);
    border-radius: 1rem;
}

nav
{
    display: none;
}

nav.open
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 1.5rem;
    position: absolute;
    top: 8rem;
    left: 0;
    width: var(--max-size);
    border-bottom: var(--border-style);
    background-color: var(--secondary-color);
}

form
{
    width: 24rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

form input,
form button,
.nav-link
{
    padding: 0.5rem 1rem;
    border: var(--border-style);
    background-color: var(--secondary-color);
    color: var(--text-color);
    border-radius: 1rem;
    font-family: "Roboto", sans-serif;
    font-size: 1.4rem;
    font-weight: var(--medium-font);
}

.nav-link
{
    border: none;
}


@media (min-width: 75em)
{
    nav.desktop
    {
        display: flex;
        gap: var(--main-gap);
        padding: 0.2rem 0.5rem;
        margin-right: 1rem;
        position: static;
        top: auto;
        left: auto;
        width: auto;
        border-bottom: none;
    }

    form
    {
        width: var(--max-size);
        margin: auto;
        align-items: center;
        flex-direction: row;
    }

    form input
    {
        margin-left: 0.5rem;
        flex: 1 0 80%;
    }
}

@media (min-width: 81.25em)
{
    .header-container
    {
        max-width: 140rem;
    }
}
