@charset "UTF-8";

:root
{
    --first-level-heading-font: clamp(2.2rem, 2.4rem + 4vw, 2.6rem);
    --second-level-heading-font: clamp(2rem, 2.2rem + 4vw, 2.4rem);
    --third-level-heading-font: clamp(1.8rem, 2rem + 4vw, 2.2rem);
    --text-font: clamp(1.6rem, 1.8rem + 4vw, 2rem);

    --thin-font: 300;
    --medium-font: 500;
    --bolder-font: 700;
    --heavier-font: 900;

    --main-gap: 4rem;
    --half-gap: 2rem;

    --max-size: 100%;

    --main-color: #06040F;
    --secondary-color: #0E0C17;
    --text-color: #c8c8c8;

    --border-style: 0.2rem solid #2E2C37;
    --border-style-hover: 0.2rem solid #C8C8C8;

    --transitions: transform 0.3s ease-in-out;
    --transform-hover: translate(0.3rem, 0.3rem);
    --transform-active: translate(0.6rem, 0.6rem);
    
}

*,
*::before,
*::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.visually-hidden
{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

a
{
    text-decoration: none;
    color: inherit;
}

button
{
    cursor: pointer;
}

a, button
{
    transition: var(--transitions);
}


a:hover,
a:focus,
button:hover,
button:focus
{
    transform: var(--transform-hover);
    border: var(--border-style-hover);
}

a:focus,
button:focus,
input:focus
{
    outline: var(--border-style-hover);
    outline-offset: 0;
}

a:active,
button:active
{
    transform: var(--transform-active);
}

#root,
html,
body
{
    height: var(--max-size);
}

html
{
    font-size: 62.5%;
}

body
{
    font-family: "Roboto", sans-serif;
    font-size: var(--text-font);
    font-weight: var(--thin-font);
    cursor: default;
    line-height: 1.6;
    background-color: var(--main-color);
    color: var(--text-color);
}

body.no-scroll
{
    overflow: hidden;
    padding-right: 1.5rem;
}


main
{
    margin: 0 auto;
    max-width: 90vw;
    min-height: var(--max-size);
}

section
{
    width: var(--max-size);
    margin: var(--main-gap) 0;
}

h2
{
    font-size: var(--second-level-heading-font);
    font-weight: var(--bolder-font);
    margin-bottom: 8rem;
    text-align: center;
}

h3
{
    font-size: var(--third-level-heading-font);
    font-weight: var(--medium-font);
}

img
{
    width: var(--max-size);
    height: var(--max-size);
    object-fit: cover;
}

@media (min-width: 81.25em)
{
    main
    {
        max-width: 140rem;
        padding: 0 1rem;
    }
}

@media (min-width: 88.125em)
{
    main
    {
        padding: 0;
    }
}
